[help]
	autocorrect = 1
[user]
	name = olkinn
  email = olkinn@ymail.com
[core]
  excludesfile = ~/.gitignore_global
  editor = vim
[diff]
  tool = vimdiff
[merge]
  tool = vimdiff
[difftool "vimdiff"]
  cmd = vim -f -d \"$LOCAL\" \"$REMOTE\"
[push]
  defualt = simple
[color]
  ui = true
[alias]
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --all
  st = status -sb
[github]
  user = olkinn
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
  required = true

